@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}



.caja{
    background-color: pink;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box; /* para que el padding no aagrande la caja (generalmente se pone en el selector universal para "normalizar nuestra pagina" )*/
    border: 5px solid skyblue;
    margin: 100px;

}

h3{
    background-color: pink;
}

span{
    background-color: pink;
}

input{
    background-color: pink;
    width: 400px;
    height: 200px;
}

header{
    color: white;
}

.logo{
    background-color: skyblue;
    width: 50px;
    height: 50px;
}
nav{
    text-align: end;
}

.link{
    display: inline-block;
    background-color: pink;
    width: 100px;
    text-align: center;
}