*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.padre{
    background-color: paleturquoise;
    height: 100vh; /* vh= viewport height  *//* es una vista relativa */
    width: 100vw; /* vw= viewprt width */
    padding: 20px;
    display: flex; /* cuando pongo display flex los elementos estan en fila y habilias las propiedades flex direction */ /* puedo cambiarlo a columnn */
    gap: 50px; /* propiedad que me permite dar espacios entre los elementos */ /* tambien se  puede poner column-wrap y flex-wrap */
    flex-wrap: wrap;/* cuado no hay espacio va bajando */
    justify-content: space-between;/* mover los elementos en el eje X */ /* puede ser center, end start */
    align-items: center;
}

.padre .hijo{/* todos los hijos que esten dentro de ese padre van a tener el estilo, ademas tiene mayor especificidad */
width: 200px;
height: 200px;
border-radius: 10px;
background-color: pink;
}

.padre .fancy{
    background-color: rgb(248, 127, 183);
}

